body {
  background-color: #acaaaa;
  font-size: 1.25rem;
}

h1 {
  text-align: center;
}

main {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #cec9c9;
}

fieldset {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

fieldset legend {
  font-size: 1.3rem;
  font-weight: 600;
}

label {
  font-size: 1.0rem;
}

label:not(.dvd-type) {
  display: block;
  margin: 10px 0;
}

input {
  margin: 5px;
}

input:not(.dvd-type-radio-btn), textarea {
  background-color: #dddbdb;
  width: 95%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input, input::placeholder, textarea {
  color: rgb(111, 110, 110);
}

.dvd-type-radio-btn {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid gray;
  vertical-align: middle;
}

.dvd-type-radio-btn::before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(3px, 3px) scale(0);
  transition: all 0.3s ease-in;
}

.dvd-type-radio-btn:checked::before {
  transform: translate(.25px, .25px) scale(.60);
  background-color: #919090;
}

button {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  margin: auto;
  cursor: pointer;
  background-color: lightgray;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
}

button:hover {
  background-color: #c4c1c1;
}