body {
  background-color: #acaaaa;
  font-size: 1.25rem;
}

h1 {
  text-align: center;
}

main {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #cec9c9;
}

input {
  margin: 5px;
}

button {
  display: block;
  margin: 2px auto;
}