body {
  background-color: #acaaaa;
  font-size: 1.25rem;
}

h1 {
  text-align: center;
}

main {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #cec9c9;
}

fieldset {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

fieldset legend {
  font-size: 1.3rem;
  font-weight: 600;
}

input {
  margin: 5px;
}

button {
  display: block;
  margin: 2px auto;
}